*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background: rgb(238,174,202);background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#res{
width: 400px;
height: auto;
background: lightseagreen;
margin: auto;
border-radius: 20px;
padding: 20px;
box-shadow: 0 0 10px black;
text-align: justify;
}
h1{
text-align: center;
}
button{
background: black;
color: white;
padding: 15px;
}
button:hover{
border: 2px solid white;
transform: scale(1.05);
}