*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightblue;
    width: 80%;
    margin: auto;
    border: 2px solid black;
}
header{
    width: 100%;
    height: 80px;
    background: lightgreen;
    text-align: center;
}
nav{
    width: 100%;
    height: 30px;
    padding: 7px;
    background: lightsalmon;
    text-align: center;
}
nav ul{
    list-style: none;
}
li{
    display: inline;
    padding: 5px;
}
section{
    width: 78%;
    height: 600px;
    padding: 10px;
    background: rgb(212, 122, 197);
    text-align: center;
    float: left;
    border: 2px solid black;
}
aside{
    width: 22%;
    height: 600px;
    padding: 10px;
    background: rgb(250, 81, 58);
    text-align: center;
    float: left;
    border: 2px solid black;
}
footer{
    width: 100%;
    height: 50px;
    padding: 10px;
    background: rgb(11, 179, 123);
    text-align: center;
    float: left;
    border: 2px solid black;
}
a{
    text-decoration: none;
    width:100px ;
    height: auto;
    color: white;
    background: black;
    padding: 5px;
}
a:hover{
    box-shadow: 0 0 20px red;
    transform: scale(1.1);
}
article{
    width: 100%;
    height: auto;
    padding: 10px;
   margin-top: 20px;
    background: lawngreen;
    text-align: center;
    border: 2px solid black;
}|