*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name:ween;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    
}
@keyframes ween{
0%{
    background:url( https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Breaking_Bad_logo.svg/1200px-Breaking_Bad_logo.svg.png);
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    }
20%{
        background:url( https://i.blogs.es/16e585/breaking-bad/1366_2000.jpg);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
    }
40%{
        background:url( https://p4.wallpaperbetter.com/wallpaper/67/484/875/the-simpsons-rv-flanders-bart-breaking-bad-hd-wallpaper-preview.jpg);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
}
60%{
        background:url( https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/KJ2SCCNWNZBWVECVA6UCEOOY3A.jpg);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
}
    80%{
        background:url( https://hips.hearstapps.com/hmg-prod/images/es-010818-breaking-bad-lede-1515790396.jpg);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
}
100%{
        background:url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnk4OY4Hycl-nQ3ZOamrmpNQvsoeBKCfnCAA&usqp=CAU);
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
    }
}
.divfrase{
    display: block;
    width: 500px;
    height: auto;
    background: #000;
    color: #fff;
    padding: 30px;
    border-radius:20px ;
    opacity: 0.7;
    text-align: center;
}
h1,p{
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
}
.boton{
    display: block;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    background: lightseagreen;
    color: #fff;
    border-radius:10px ;
}